footer {
    background: $text-color;
    @include base-font(16);
    padding: 30px;
    height: 100%;

    p, a {
        text-align: center;
        color: $white;
        text-decoration: none;
        margin: 5px;

    }

}