// GLOBAL STYLES 
html {
   font-size: 62.5%;
}

body {
   background: #f3f9fc;
   @include base-font(20);
   font-family: $text-font;
}

.wrapper {
   max-width: 1080px;
   width: 80%;
   margin: 0 auto;
}

input {
   display: none;
}

fieldset {
   border: none;
}

label {
   cursor: pointer;
}










