// HEADER 
header {
   @include flex(column);
   height: 100vh;
   .main-heading {
      @include flex(row);
   }
   h1 {
      @include base-font(115);
      font-family: $title-font;
      color: $heading-color;
      text-shadow: 
      1px 1px 0 $text-color,
      2px 2px 0 $text-color,
      3px 3px 0 $text-color,
      4px 4px 0 $text-color,
      5px 5px 0 $text-color,
      6px 6px 0 $text-color,
      7px 7px 0 $text-color,
      8px 8px 0 $text-color,
      9px 9px 0 $text-color,
      10px 10px 0 $text-color,
      11px 11px 0 $text-color,
      12px 12px 0 $text-color,
      13px 13px 0 $text-color,
      14px 14px 0 $text-color,
      15px 15px 0 $text-color
   }
   .smartypants{
      max-width: 150px;
      width: 150px;
      margin-left: 20px;
      transform: rotate(15deg);
      img {
         animation-duration: 1.2s;
      }
   }
   .header-intro {
      font-family: $text-font;
      @include base-font(18);
      text-align: center;
      max-width: 100%;
      line-height: 2;
      p {
         margin: 0;
      }
   }
   .button {
      @include button($accent-color);
      padding: 5px 25px;
      color: $text-color;
      font-weight: 700;
      width: 30%;
      margin: 50px auto;
      box-shadow: 
      1px 1px 0px $text-color,
      2px 2px 0px $text-color,
      3px 3px 0px $text-color,
      4px 4px 0px $text-color,
      5px 5px 0px $text-color,
      6px 6px 0px $text-color,
      7px 7px 0px $text-color,
      8px 8px 0px $text-color;
      &:hover,
      &:focus {
         background-color: $hover-accent;
      }
      &:active {
         box-shadow: 1px 1px 0px $text-color;
         top: 6px;
         left: 6px;
      }

}
}