// MAIN 
main {
   @include flex(column);
   position: relative;
   height: 100vh;
   text-align: center;
}

h2 {
   @include base-font(75);
   font-family: $title-font;
}

// CATEGORIES
.category-form fieldset {
   @include flex(row);
   flex-wrap: wrap;  
   label {
      @include button($accent-color);
      flex: 0 1 220px;
      padding: 20px 5px;
      margin: 5px;
      &:hover,
      &:focus {
         background-color: $hover-accent;
      }
      &:active {
         box-shadow: none;
         top: 3px;
         left: 3px;
      }
   }
}

// QUESTIONS
.question-container {
   @include flex(column);
   height: 100vh;
   width: 100%;
}

.question-form {
   width: 100%;
   h3 {
      @include base-font(50);
      font-family: $title-font;
      margin: 25px 0;
      letter-spacing: 1.5px;
   }
}

.answer-box {
   padding: 15px;
   .answers {
      @include flex(column);
      padding: 0;
   }
   .answer-option {
      @include button($heading-color);
      margin: 7px 0;
      padding: 20px;
      width: 100%;
      &:hover,
      &:focus {
         background-color: $hover-orange;
      }
      &:active {
         box-shadow: none;
         top: 2px;
         left: 2px;
      }
   }
}

.answer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.next {
   @include button($accent-color);
   padding: 10px 50px;
   &:hover {
      background-color: $hover-accent;
   }
}

.question-tracker {
   @include base-font(30);
   font-family: $title-font;
}

// RIGHT AND WRONG ANSWER STYLES
.correct,
.incorrect {
   position: relative;
}

.correct::after {
   font-family: "Font Awesome 5 Free";
   content: "\f058";
   @include base-font(50);
   color: $correct-color;
   position: absolute;
   top: calc(50% - 23px);
   right: -60px;
}

.incorrect::after {
   font-family: "Font Awesome 5 Free";
   content: "\f057";
   @include base-font(50);
   color: $wrong-color;
   position: absolute;
   top: calc(50% - 23px);
   right: -60px;
}



