// RESULTS
.hidden {
    display:none;
}

.results {
    position: absolute;
    height: 65vh;

    width: 100%;

    z-index: 10;
    margin: 0 auto;
    background: $heading-color;
}

.results-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}