@media (min-width: 1350px) {
   // HEADER STYLES
   header {
      h1 {
         @include base-font(150);
      }
      .smartypants {
         width: 180px;
      }  
   }

   // FOOTER
   footer {
       margin-top: 150px;
   }
}


@media (max-width: 865px) {
   // HEADER STYLES - make heading text smaller
   header {
      h1 {
         @include base-font(90);
      }
      .smartypants {
         width: 120px;
      }
      .header-intro {
         @include base-font(17);
         p {
            width: 65%;
            margin: 0 auto;
         }
         .hide-responsive {
            display: none;
         }
      }
   }
}

@media (max-width: 678px) {
   // GLOBAL STYLES
   body {
      @include base-font(16);
   }
   
   // HEADER STYLES
   header {
      h1 {
         @include base-font(75);
      }
      .smartypants {
         width: 100px;
      }
      .header-intro {
         @include base-font(16);
         p {
            width: 80%;
         }
      }
   }

   // MAIN/CATEGORIES SECTION STYLES
   h2 {
      @include base-font(50);
   }
   .question-form h3 {
      @include base-font(40);
   }

   .see-results {
      @include base-font(16);
      padding: 10px 30px;          
   }

   // RESULTS SECTION STYLES
   .results-box {
      @include base-font(40);
      .play-again {
         @include base-font(16);
      }
   }

   // FOOTER STYLES
   footer {
      @include base-font(12);
   }
}

@media (max-width: 574px) {
   // GLOBAL STYLES
   .wrapper {
      width: 90%;
   }

   // HEADER STYLES
   header {
      h1 {
         @include base-font(65);
      }
      .smartypants {
         width: 90px;
      }
   }

   // CATEGORY SECTION STYLES
   .category-form {
      display: block;
      label {
         width: 90%;
         margin: 10px auto;
      }
   }

   // ANSWER SECTION STYLES
   // Change the width of the answer labels
   .answer-box {
      width: 85%;
      margin: 0 auto;
   }
   // Change the right and wrong icon styles 
   .correct::after,
   .incorrect::after {
      @include base-font(35);
      top: calc(50% - 17px);
      right: -50px;
   }
}

@media(max-width: 495px) {
   // HEADER STYLES
   // Remove smartypants from header
   header {
      .main-heading {
         @include flex(column-reverse);
      }
      .smartypants {
         display: none;
      }
      .button {
         width: 50%;
      }
   }
}

@media(max-width: 400px) {
   // HEADER STYLES
   header {
      h1 {
         @include base-font(50);
      }
      .header-intro {
         p {
            width: 100%;
         }
      }
   }

   // MAIN SECTION
   h2 {
      @include base-font(40);
   }
   .question-form h3 {
      @include base-font(35);
   }

   .see-results {
      padding: 10px 20px;          
   }

   // RESULTS SECTION STYLES
   .results {
      height: 100vh;
      width: 100vw;
   }
   
   .results-box {
      @include base-font(30);
   }
}



