// COLOURS
$text-color: rgb(15, 15, 15);
$white: #FAFAFA;
$correct-color: rgb(44, 175, 44);
$wrong-color: rgb(202, 4, 4);
$accent-color: #569ceb; 
$hover-accent: #508fd6;
$heading-color: #FF8C00;
$hover-orange: rgb(231, 129, 3);

// FONTS 
$title-font: "Londrina Solid", sans-serif;
$text-font: "Open Sans", sans-serif;
