// COLOURS
$text-color: #282a2d;
$white: #FAFAFA;
$correct-color: limegreen;
$wrong-color: red;
$accent-color: rgb(75, 135, 206); 
$heading-color: #FF8C00;

// FONTS 
$title-font: "Londrina Solid", sans-serif;
$text-font: "Open Sans", sans-serif;
