/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #f3f9fc;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif; }

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto; }

input {
  display: none; }

fieldset {
  border: none; }

label {
  cursor: pointer; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }
  header .main-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header h1 {
    font-size: 115px;
    font-size: 11.5rem;
    font-family: "Londrina Solid", sans-serif;
    color: #FF8C00;
    text-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d, 4px 4px 0 #282a2d, 5px 5px 0 #282a2d, 6px 6px 0 #282a2d, 7px 7px 0 #282a2d, 8px 8px 0 #282a2d, 9px 9px 0 #282a2d, 10px 10px 0 #282a2d, 11px 11px 0 #282a2d, 12px 12px 0 #282a2d, 13px 13px 0 #282a2d, 14px 14px 0 #282a2d, 15px 15px 0 #282a2d; }
  header .smartypants {
    max-width: 150px;
    width: 150px;
    margin-left: 20px;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
    header .smartypants img {
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s; }
  header .header-intro {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    max-width: 70%;
    line-height: 2; }
    header .header-intro p {
      margin: 0px 0px 50px 0px; }
  header .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    background: #4b87ce;
    border-radius: 10px;
    letter-spacing: 0.5px;
    border: none;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
    box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
    padding: 5px 25px;
    color: #FAFAFA;
    font-weight: 700;
    width: 30%;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 0px #282a2d, 2px 2px 0px #282a2d, 3px 3px 0px #282a2d, 4px 4px 0px #282a2d, 5px 5px 0px #282a2d, 6px 6px 0px #282a2d, 7px 7px 0px #282a2d, 8px 8px 0px #282a2d;
    box-shadow: 1px 1px 0px #282a2d, 2px 2px 0px #282a2d, 3px 3px 0px #282a2d, 4px 4px 0px #282a2d, 5px 5px 0px #282a2d, 6px 6px 0px #282a2d, 7px 7px 0px #282a2d, 8px 8px 0px #282a2d; }
    header .button:hover, header .button:focus {
      background-color: #4579b9; }
    header .button:active {
      -webkit-box-shadow: 1px 1px 0px #282a2d;
      box-shadow: 1px 1px 0px #282a2d;
      top: 6px;
      left: 6px; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100vh;
  text-align: center; }

h2 {
  font-size: 75px;
  font-size: 7.5rem;
  font-family: "Londrina Solid", sans-serif; }

.category-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .category-form fieldset label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    background: #4b87ce;
    border-radius: 10px;
    letter-spacing: 0.5px;
    border: none;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
    box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 220px;
    flex: 0 1 220px;
    padding: 20px 5px;
    margin: 5px; }
    .category-form fieldset label:hover, .category-form fieldset label:focus {
      background-color: #4579b9; }
    .category-form fieldset label:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      top: 3px;
      left: 3px; }

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%; }

.question-form {
  width: 100%; }
  .question-form h3 {
    font-size: 50px;
    font-size: 5rem;
    font-family: "Londrina Solid", sans-serif;
    margin: 25px 0;
    letter-spacing: 1.5px; }

.answer-box {
  padding: 15px; }
  .answer-box .answers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0; }
  .answer-box .answer-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    background: #FF8C00;
    border-radius: 10px;
    letter-spacing: 0.5px;
    border: none;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
    box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
    margin: 7px 0;
    padding: 20px;
    width: 100%; }
    .answer-box .answer-option:hover, .answer-box .answer-option:focus {
      background-color: #e78103; }
    .answer-box .answer-option:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      top: 2px;
      left: 2px; }

.answer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px; }

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  background: #4b87ce;
  border-radius: 10px;
  letter-spacing: 0.5px;
  border: none;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
  box-shadow: 1px 1px 0 #282a2d, 2px 2px 0 #282a2d, 3px 3px 0 #282a2d;
  padding: 10px 50px; }

.question-tracker {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Londrina Solid", sans-serif; }

.correct,
.incorrect {
  position: relative; }

.correct::after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-size: 40px;
  font-size: 4rem;
  color: #2caf2c;
  position: absolute;
  top: calc(50% - 23px);
  right: -50px; }

.incorrect::after {
  font-family: "Font Awesome 5 Free";
  content: "\f057";
  font-size: 40px;
  font-size: 4rem;
  color: #ca0404;
  position: absolute;
  top: calc(50% - 23px);
  right: -50px; }

.hidden {
  display: none; }

.results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  background: #FF8C00; }

.results-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

footer {
  background: #282a2d;
  padding: 20px; }
  footer p, footer a {
    text-align: center;
    color: #FAFAFA;
    text-decoration: none;
    margin: 5px; }

@media (max-width: 611px) {
  main {
    height: auto; }
  .category-form fieldset label {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%; } }
